<div class="panel">
  {{yield}}
</div>
<div class="row">
  <div class="col-md-6">
    <div id="search-form">
      <h3>Find Opportunities</h3>
      {{input id="" placeholder="Seach by skill"}}
      {{input id="" placeholder="Location"}}
    </div>

    <div class="github-search-results">

    </div>
  </div>

  <div class="col-md-4 pull-right">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>Create a New Opportunity</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          {{opportunity-forms action="newFromHome" clearForm="newOpportunity"}}
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}