{{yield}}

<form class="form-horizontal">
  <div class="form-group">
    <label for="opportunity-name">Name</label>
    {{input value=name class="form-control" id="opportunity-name"}}
  </div>
  <div class="form-group">
    <label for="opportunity-position">Position</label>
    {{input value=position class="form-control" id="opportunity-position"}}
  </div>
  <div class="form-group">
    <label for="opportunity-description">Description</label>
    {{input value=description class="form-control" id="opportunity-description"}}
  </div>

  <!-- <button type="button" {{action "addIngredient"}}>+</button>
  {{#each drink.proportions as |proportion|}}
    <div class="form-group">
      {{input value=proportion.amount class="form-control" placeholder="1 cup"}}
      {{input value=proportion.ingredient class="form-control" placeholder="Vodka"}}
    </div>
  {{/each}} -->
  <button class="btn btn-primary btn-sm" {{action "submit"}}>Submit</button>
</form>
