{{yield}}

<form class="form-horizontal" {{action "submit" on="submit"}}>
  <div class="form-group">
    <label for="opportunity-name">Name</label>
    {{input value=name class="form-control" id="opportunity-name"}}
  </div>
  <div class="form-group">
    <label for="opportunity-position">Position</label>
    {{input value=position class="form-control" id="opportunity-position"}}
  </div>
  <div class="form-group">
    <label for="opportunity-description">Description</label>
    {{input value=description class="form-control" id="opportunity-description"}}
  </div>
  <div class="form-group">
    {{input type="submit" value=create class="button"}}
  </div>
</form>
