<div class="container">

  <div class="panel text-center">
    <h2>{{model.name}}</h2>
    <p>
      Opportunity for: {{model.position}}
    </p>
    <p>
      Description: {{model.description}}
    </p>
  </div>
      <!-- contacts -->
      <div id="contact-opportunity" class="col-md-4">
      <h3>Contacts</h3>
      <button class="btn btn-primary btn-sm" {{action "newContact" }}>New Contact!</button>
        <br>
        <br>
          {{#if showContactForm}}
          {{new-contact action="createContact" clearContactForm="newContact"}}
          {{/if}}

          {{#each model.contacts as |contact|}}
          <div class="panel panel-info">
            <div class="panel-heading">
              <h5 class="panel-title">{{contact.name}}</h5>
            </div>
            <div class="panel-body">
              <ul>
              <li>Email: {{contact.email}}</li>
              <li>Phone: {{contact.phone}}</li>
              </ul>
            </div>
            <button class="btn btn-primary btn-sm" {{action 'deleteContact' note}}>Delete Contact</button>
          </div>
          {{/each}}
      </div>

      <!-- Notes   -->
      <div id="note-info" class="col-md-4 col-md-offset-1">
        <h3>Notes</h3>
        <button class="btn btn-primary btn-sm" {{action "newNote" }}>New Note!</button>
        <!-- this form should be hidden until new note is clicked -->

        <br>
        <br>
          {{#if showNoteForm}}
          {{new-note action="createNote" clearNoteForm="newNote"}}
          {{/if}}
            <!-- render notes -->
            <br>
          {{#each notes as |note|}}
          <div class="panel panel-info">
            <div class="panel-heading">
                <p>{{note.content}}</p>
                <em>{{format-date note.created_at}}</em><br>
            </div>
          </div>
          <button class="btn btn-primary btn-sm" {{action 'deleteNote' note}}>Delete Note</button>
          <br><br>
          {{/each}}
      </div>
</div>
