<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    {{#link-to 'dashboard' class="navbar-brand"}}JobTrackr{{/link-to}}

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        {{#if currentUser}}
          <li class="active">
            <a href="#">Hi, {{currentUser.firstName}}</a>
          </li>
          {{/if}}


        {{#if session.isAuthenticated}}
        <li>{{link-to "Home" "index"}}</li>
        <li>{{link-to "Users" "users"}}</li>
        <li>{{link-to "Notes" "notes"}}</li>
        <li>{{link-to "Opportunities" "opportunities"}}</li>
        <li><a href="#" {{action 'logout'}}>Logout</a></li>
        {{else}}
        <li>{{link-to "Login" "login"}}</li>
        <li>{{link-to "Sign up" "signup"}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div class="well col-sm-6 col-sm-offset-4">

{{outlet}}
</div>
