<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
      {{#if currentUser}}
      <li class="active">
        <a>Hi, {{currentUser.firstName}}</a>
      </li>
      {{/if}}
    <li>{{#link-to 'home' class="navbar-brand"}}JobTracker{{/link-to}}</li>

        {{#if session.isAuthenticated}}
        <li {{action 'makeTrue'}}>{{link-to "Opportunities" "opportunities"}}</li>
        <li><a href="#" {{action 'logout'}}>Logout</a></li>
        {{else}}
        <li>{{link-to "Login" "login"}}</li>
        <li>{{link-to "Sign up" "signup"}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
{{outlet}}
</div>
