<div class="container">
  <div class="row">
    <ul class="list-inline">
      <li>{{link-to "Home" "index"}}</li>
      <li>{{link-to "Users" "users"}}</li>

    {{#if session.isAuthenticated}}
      <li><button {{action "logout"}}>Logout</button></li>
    {{else}}
      <li>{{link-to "Login" "login"}}</li>
    {{/if}}

    </ul>

    <h2 id="title">Welcome to Job Trackr</h2>

  </div>

  {{outlet}}

</div>
