<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    {{#link-to 'index' class="navbar-brand"}}JobTrackr{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">


        {{#if session.isAuthenticated}}
        <li>{{link-to "Home" "index"}}</li>
        <li>{{link-to "Users" "users"}}</li>
        <li>{{link-to "Notes" "notes"}}</li>
        <li>{{link-to "Opportunities" "opportunities"}}</li>
        <li><button {{action "logout"}}>Logout</button></li>
        {{else}}
        <li>{{link-to "Login" "login"}}</li>
        <li>{{link-to "Sign up" "signup"}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div class="well col-sm-6 col-sm-offset-4">
{{outlet}}
</div>
