{{#if showEverything}}
{{outlet}}
{{else}}
<div class="row">
  <div class="col-md-5">
    <h2 id="title">Welcome to Your Dashboard!!</h2>
    <h3><a href="/opportunities" {{action 'newOpportunity'}}>Add an Opportunity</a></h3>
    {{#if showOpportunityForm}}
    {{opportunity-forms action="addOpportunity"}}
    {{/if}}
  </div>

  <div id="opportunities" class="col-md-6 col-md-offset-1">
    <ul>
      <h2 id="title">All Opportunities</h2>
      {{#each model as |opportunity|}}
        <li>
          <h3 {{action "toggleOpportunity" opportunity.id}}>{{opportunity.name}}</h3>
          {{opportunity.position}}<br>
          {{opportunity.description}}<br>
          <button class="btn btn-primary btn-sm" {{action 'delete' opportunity}}>Delete</button>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}
