<div class="container">

  <div class="panel text-center">
    <h2>{{model.name}}</h2>
  </div>

  <div class="row">
      <!-- contacts -->
      <div id="contact-opportunity" class="col-md-4">
      <h3>Contacts</h3>
      <button {{action "newContact" }}>New Contact!</button>
        <br>
        <br>
          {{#if showContactForm}}
          {{new-contact action="createContact"}}
          {{/if}}

          {{#each model.contacts as |contact|}}
            {{contact.name}}
            <ul>
              <li>{{contact.email}}</li>
              <li>{{contact.phone}}</li>
            </ul>
          {{/each}}
      </div>

      <!-- opportunity info -->
      <div id="opportunity-info" class="col-md-6 text-center">
        <p>
          Opportunity for: {{model.position}}
        </p>
        <p>
          Description: {{model.description}}
        </p>

      <!-- Notes   -->
        <h3>Notes</h3>
        <button {{action "newNote" }}>New Note!</button>
        <!-- this form should be hidden until new note is clicked -->
        <br>
        <br>
          {{#if showNoteForm}}
          {{new-note action="createNote"}}
          {{/if}}

            <!-- render notes -->
          {{#each model.notes as |note|}}
          <div id="notes_opportunity">
            <br>
            <p>{{note.content}}</p>
            <button {{action 'deleteNote' note}}>Delete Note</button>
          </div>
          {{/each}}
      </div>
  </div>
</div>
