<div class="container">

  <div class="panel text-center">
    <h2>{{model.name}}</h2>
  </div>



  <div class="row">
      <!-- contacts -->
      <div id="contact-opportunity" class="col-md-3">
      <h3>Contacts</h3>
      <button {{action "newContact" }}>New Contact!</button>
        <br>
        <br>
          {{#if showContactForm}}
          {{new-contact action="createContact"}}
          {{/if}}

          {{#each model.contacts as |contact|}}
            {{contact.name}}
            <ul>
              <li>{{contact.email}}</li>
              <li>{{contact.phone}}</li>
            </ul>
          {{/each}}
      </div>

      <div id="note-opportunity" class="col-md-4">
        <!-- opportunity info -->
        <p><strong>Opportunity for:</strong> {{model.position}}</p>
        <p><strong>Description:</strong> {{model.description}}</p>

        <br>

        <!-- Notes   -->
        <div class="text-center">
          <h3>Updates</h3>
          <button {{action "newNote" }}>New Update!</button>
        </div>
        
        <!-- this form should be hidden until new note is clicked -->
        <br>
        <br>
          {{#if showNoteForm}}
          {{new-note action="createNote"}}
          {{/if}}

          <!-- render notes -->
        {{#each model.notes as |note|}}
        <div id="notes_opportunity">
          <br>
          <p>{{note.content}}</p>
          <em>{{format-date note.created_at}}</em><br>
          <button {{action 'deleteNote' note}}>Delete Note</button>
        </div>
        {{/each}}
      </div>
  </div>
</div>


















